@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1020px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  /*font-family: "Inter", sans-serif;*/
  font-size: 16px;
  /*line-height: 24px;*/ /* ppc problema */
  color: #242424;
  background-color: #fbf7f4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slide-slide0 {
  display: none;
}

.slide1_bg {
  background-color: #feafc3;
  width: 100%;
}

.page-header {
  width: 100%;
  margin-bottom: 20px;
}

.page-header__page-header-inner {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  margin-top: 24px;
}

.nav__logo {
  margin-right: 16px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
}

.nav__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0;
  color: #2d3440;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 26px;
}
.nav__link:hover {
  background: rgba(252, 252, 252, 0.5);

  color: #2d3440;
}
.nav__link:focus {
  background: rgba(252, 252, 252, 0.5);
  color: #2d3440;
  outline: 2px solid #2d3440;
}
.nav__link:active {
  background: rgba(252, 252, 252, 1);
  opacity: 1;
}

.link_current-page {
  background: #ff4a78;
  color: #fcfcfc;
}

.widgets {
  display: flex;
  margin-top: 24px;
}

.widgets__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.widgets__phone {
  margin-right: 20px;
}

.widgets-phone__link {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.widgets-item__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  background: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 26px;
  height: 32px;
  box-sizing: border-box;
}

.widgets-item__link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.widgets-item__link:focus {
  background: rgba(252, 252, 252, 0.5);
  color: #2d3440;
  outline: 2px solid #2d3440;
}
.widgets-item__link:active {
  background: rgba(252, 252, 252, 1);
  opacity: 1;
}

.widgets-item:first-child > .widgets-item__link {
  padding: 6px;
}

.widgets-item {
  margin-right: 17px;
}

.widgets-item:last-child {
  margin-right: 0px;
}

.widgets-item__search-icon {
  background: url("../images/icons/search.svg") no-repeat center center;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 3px;
}

.widgets-item__signin-icon {
  background: url("../images/icons/log-in.svg") no-repeat center center;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 2px;
  margin-right: 7px;
}

.widgets-item__empty-basket-icon {
  background: url("../images/icons/cart.svg") no-repeat center center;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 2px;
  margin: 0 6px;
}

/* Hello screen section */
.page-main {
  width: 100%;
}

.hello-screen {
  max-width: 1170px;
  /*height: 554px;*/
  margin: 0 auto;
  margin-bottom: 70px;
}

.slide-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide__description-block {
  height: 554px;
  /*max-width: 540px;*/
  display: flex;
  align-items: center;
  padding-right: 45px;
}
.slide__description-block-top {
  margin-left: 70px;
}

.slide__description-block-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.slide__description-block-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.slide__description-block-order-btn {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 12px 32px;
  color: #2d3440;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  background: #fcfcfc;
  background-clip: padding-box;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  display: inline-block;
}

.slide__description-block-order-btn:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
}
.slide__description-block-order-btn:focus {
  background: #fcfcfc;
  outline: 2px solid #2d3440;
}
.slide-nav {
  align-self: flex-end;
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide-nav__item-link {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid rgba(252, 252, 252, 0);
  border-radius: 100px;
  cursor: pointer;
  background-clip: border-box;
  margin-right: 8px;
}

.slide-nav__item-link_active {
  background: #fcfcfc;
  border: 1px solid #fcfcfc;
}

.slide-nav__item-link:hover {
  border: 1px solid #fcfcfc;
}
.slide-nav__item-link:focus {
  border: 1px solid #2d3440;
}

.slide__visual-block {
  display: flex;
  justify-content: center;
}

.slide__main-image {
  z-index: 2;
}
.slide__substrate {
  width: 312px;
  height: 312px;
  margin: 0;
  padding: 0;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 100%;
  position: absolute;
  align-self: center;
  z-index: 1;
}
.slide__control-buttons-container {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 352px;
}

.slide__control-btn {
  z-index: 3;
  width: 38px;
  height: 38px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  border-radius: 26px;
}

.slide__control-btn:hover {
  background: #fcfcfc;
  cursor: pointer;
}

.slide__control-btn:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.slide__control-btn:hover path {
  fill: #2d3440;
}

.slide__control-btn:focus path {
  fill: #2d3440;
}

.slide__control-btn-right {
  width: 16px;
  height: 16px;
  display: inline-block;
  mask-size: cover;
  position: relative;
}

.slide__control-btn-left {
  width: 16px;
  height: 16px;
  display: inline-block;
  mask-size: cover;
  position: relative;
}

.slide__control-btn-disabled {
  opacity: 0.4;
}

.slide__control-btn-disabled:hover {
  cursor: default;
  background: rgba(252, 252, 252, 0.3);
}

.slide__control-btn-disabled:focus {
  cursor: default;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
}

.slide__control-btn-disabled:hover path {
  fill: #fcfcfc;
}

.slide__control-btn-disabled:focus path {
  fill: #fcfcfc;
}

.slide__visual-block-inner {
  display: flex;
  list-style-type: none;
}

.slide__thubms-block {
  display: flex;
  height: 554px;
  align-items: center;
  justify-content: end;
}
.slide__item-thumb {
  display: flex;
  justify-content: center;
  min-width: 100px;
  /*margin-right: 15px;*/
}
.slide__item-thumb:first-child {
  /*padding: 0 15px;*/
  margin-right: 40px;
}
.slide__item-thumb:hover {
  cursor: pointer;
}

.slide__thumb-substrate {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  background: rgba(255, 203, 216, 0.4);
  border-radius: 100%;
  position: absolute;
  align-self: center;
  z-index: 1;
}

.slide__thumb-image {
  z-index: 2;
}

.slider-footer-block__social-list {
  position: absolute;
  align-self: flex-end;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-footer-block__social-item-link {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 1px;
  display: block;
  border-radius: 100px;
  bottom: 0;
  margin-right: 18px;
}

.slider-footer-block__social-item-link:hover {
  background: #2d3440;
}
.slider-footer-block__social-item-link:focus {
  background: #2d3440;
}
.slider-footer-block__social-item-link svg {
  outline: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 100px;
  position: absolute;
  top: -1px;
  right: -1px;
}

.slider-footer-block__social-item-link:focus svg {
  outline: 2px solid #2d3440;
}
.slider-footer-block__social-item:last-child
  .slider-footer-block__social-item-link {
  margin-right: 0px;
}

/* call to action section */

.call-to-action {
  width: 100%;
  margin-bottom: 80px;
}

.call-to-action__call-to-action-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.call-to-action__heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  padding-top: 10px;
  margin-bottom: 55px;
}

.call-to-action__main-container {
  display: flex;
  justify-content: space-between;
}

.call-to-action-item {
  padding: 40px 209px 40px 40px;
  background: #ff7799;
  border-radius: 16px;
  width: 0;
  flex-grow: 1;
}

.call-to-action-item:first-child {
  margin-right: 30px;
}
.call-to-action-item__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
  padding: 0;
}

.call-to-action-item__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin-bottom: 32px;
}

.call-to-action-item__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 12px 32px;
  color: #2d3440;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  background: #fcfcfc;
  background-clip: padding-box;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  display: inline-block;
}

.call-to-action-item__btn:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
}
.call-to-action-item__btn:focus {
  background: #fcfcfc;
  outline: 2px solid #2d3440;
}

.bg-rasberry {
  background: #ff7799 url("../images/content/raspberry-for-free.png") no-repeat
    right bottom;
  background-position-x: 97%;
  /* background-position-y: 5px; */
}

.bg-marshmallow {
  background: #ff7799 url("../images/content/marshmallow-for-free.png")
    no-repeat right bottom;
  background-position-x: 89%;
  /* background-position-y: 5px; */
}

/* list of products section */

.list-of-icecreams {
  width: 100%;
  margin-bottom: 80px;
}

.list-of-icecreams__list-of-icecreams-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.list-of-icecreams__heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  margin: 0;
  margin-bottom: 110px;
}

.list-of-icecreams__list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  /*grid-gap: 20px;*/
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.list-of-icecreams__item {
  background: #fcfcfc;
  border-radius: 8px;
  text-align: center;
  padding: 40px 40px 23px 40px;
}

.list-of-icecreams-item__img {
  margin-top: -105px;
}

.list-of-icecreams-item__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d3440;
  margin: 0;
}

.list-of-icecreams-item__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565c66;
  margin: 10px 0 15px;
}

.item-basket-price__container {
  display: flex;
  justify-content: space-between;
}

.list-of-icecreams-item__price {
  font-family: Inter;
  font-style: normal;
  /*font-weight: bold;*/
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin: 0;
}

.list-of-icecreams-item__btn-add-to-basket-link {
  width: 28px;
  height: 28px;
  background: #ff2f64;
  border-radius: 26px;
  border: 2px solid #ff2f64;
}

.list-of-icecreams-item__btn-add-to-basket-link:hover {
  background: rgba(252, 252, 252, 0.3);
}

.list-of-icecreams-item__btn-add-to-basket-link:hover path {
  fill: #2d3440;
}

.list-of-icecreams-item__btn-add-to-basket-link:focus {
  background: #ff2f64;
  border: 2px solid #2d3440;
}

.list-of-icecreams-item__btn-add-to-basket-link:focus path {
  fill: #fcfcfc;
}

.list-of-icecreams-item__basket-icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 6px;
}

.btn-add-to-basket-disabled {
  background: #b9b9b9;
  border: 2px solid #b9b9b9;
}

.btn-add-to-basket-disabled path {
  fill: #565c66;
}

.btn-add-to-basket-disabled:hover,
.btn-add-to-basket-disabled:focus {
  /*cursor: default;*/
  background: #b9b9b9;
  border: 2px solid #b9b9b9;
}

.btn-add-to-basket-disabled:hover path,
.btn-add-to-basket-disabled:focus path {
  fill: #565c66;
}

.description-block-of-shop {
  width: 100%;
  margin-bottom: 80px;
}

.description-block-of-shop__inner {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../images/content/bg-waffle.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 16px;
  height: 480px;
  padding: 24px;
  box-sizing: border-box;
}

.description-block-of-shop__white-plate {
  background: #fcfcfc;
  height: 100%;
  border-radius: 16px;
  padding: 56px 40px;
  box-sizing: border-box;
}

.description-block-of-shop_main-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  margin-top: 0;
  margin-bottom: 40px;
}

.description-block-of-shop__list-of-features {
  display: grid;
  grid-template-columns: 507px 507px;
  /*grid-gap: 20px;*/
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.description-block-of-shop__item-feature {
}

.description-block-of-shop__item-feature-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-top: 16px;
  margin-bottom: 23px;
}

.icon-ice-cream::before {
  display: block;
  content: " ";
  background: url("../images/icons/ice-cream.svg") no-repeat center center;
  background-size: 32px 32px;
  height: 48px;
  width: 48px;
  border: 2px solid #2d3440;
  border-radius: 50px;
  float: left;
  margin-right: 16px;
  /*background-clip: border-box;*/
  box-sizing: border-box;
}

.icon-leaf::before {
  display: block;
  content: " ";
  background: url("../images/icons/leaf.svg") no-repeat center center;
  background-size: 32px 32px;
  height: 48px;
  width: 48px;
  border: 2px solid #2d3440;
  border-radius: 50px;
  float: left;
  margin-right: 16px;
  box-sizing: border-box;
}

.icon-cow::before {
  display: block;
  content: " ";
  background: url("../images/icons/cow.svg") no-repeat center center;
  background-size: 32px 32px;
  height: 48px;
  width: 48px;
  border: 2px solid #2d3440;
  border-radius: 50px;
  float: left;
  margin-right: 16px;
  box-sizing: border-box;
}

.icon-thermometer::before {
  display: block;
  content: " ";
  background: url("../images/icons/thermometer.svg") no-repeat center center;
  background-size: 32px 32px;
  height: 48px;
  width: 48px;
  border: 2px solid #2d3440;
  border-radius: 50px;
  float: left;
  margin-right: 16px;
  box-sizing: border-box;
}

.subscribe-block {
  width: 100%;
  margin-bottom: 75px;
}

.subscribe-block__inner {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.subscribe-block__latest-post-from-blog {
  width: 570px;
  height: 220px;
  border-radius: 16px;
  background: #fff
    url("../images/content/bg-10-types-of-serving-sorbets-article-post.jpg")
    no-repeat right bottom;
  background-position-x: 0;
  /*padding: 40px 32px;*/
  box-sizing: border-box;
  margin-right: 30px;
  width: 0;
  flex-grow: 1;
  padding: 5px;
}

.subscribe-block__latest-post-link {
  text-decoration: none;
  color: #2d3440;
}
.subscribe-block__subscribe-form-block {
  width: 570px;
  height: 220px;
  border-radius: 16px;
  background: #fff url("../images/content/bg-subscribe-block.jpg") no-repeat
    center center;
  background-size: cover;
  width: 0;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
}

.subscribe-form-block__white-plate {
  background: #fcfcfc;
  border-radius: 16px;
}

.subscribe-block__latest-post-from-blog-name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 27px;
  padding-top: 12px;
}

.subscribe-block__latest-post-from-blog-article-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-left: 27px;
  padding-right: 179px;
  margin-top: -3px;
}

.subscribe-block__subscribe-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  padding: 10px 27px;
  margin-bottom: 33px;
}

.subscribe-block__subscribe-form-email-input {
  width: 332px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  margin-left: 25px;
  margin-right: 20px;
}

.subscribe-block__subscribe-form-email-input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.subscribe-block__subscribe-form-btn-submit {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 12px 32px;
  color: #fcfcfc;
  border-radius: 26px;
  background: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  display: inline-block;
  border: none;
}

.subscribe-block__subscribe-form-btn-submit:hover {
  color: #2d3440;
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #ff2f64;
  cursor: pointer;
}
.subscribe-block__subscribe-form-btn-submit:focus {
  color: #fcfcfc;
  background: #ff2f64;
  outline: 2px solid #2d3440;
  cursor: pointer;
}

.subscribe-block-form__disabled-btn-submit,
.subscribe-block-form__disabled-btn-submit:hover,
.subscribe-block-form__disabled-btn-submit:focus {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565c66;
  cursor: default;
}

.order-block {
  width: 100%;
  margin-bottom: 80px;
}

.order-block__inner {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  box-sizing: border-box;
  border-radius: 16px;
  background: #fcfcfc url("../images/content/bg-order-block.jpg") no-repeat
    bottom right;
  /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
  width: 1170px;
  height: 534px;
  padding: 64px 64px 64px 100px;
}

.order-block__description-block {
  padding-right: 125px;
}

.order-block__description-block-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-bottom: 20px;
  margin-top: 20px;
}

.order-block__description-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.order-block__form-block {
  background: #fcfcfc;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.order-block__order-form {
  display: grid;
  grid-template-columns: 117px 287px;
  grid-gap: 15px;
  margin-top: 35px;
}

.order-block__order-form-instruction {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.order-block__order-form-date-label,
.order-block__order-form-phone-label,
.order-block__order-form-address-label {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  margin-bottom: 10px;
}

.order-block__field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.order-block-field-group__form-address {
  grid-column: 1 / -1;
  margin-top: 5px;
}

.order-block__order-form-date-input {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 117px;
  height: 48px;
  padding-left: 16px;
}

.order-block__order-form-phone-input {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 287px;
  height: 48px;
  padding-left: 16px;
}

.order-block__order-form-address-input {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 420px;
  height: 48px;
  padding-left: 16px;
}

.order-block__order-form-date-input::placeholder,
.order-block__order-form-phone-input::placeholder,
.order-block__order-form-address-input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}
.order-block__order-form-address-submit-btn {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 12px 32px;
  color: #fcfcfc;
  border-radius: 26px;
  background: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  display: inline-block;
  border: none;
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 10px;
}

.order-block__order-form-address-submit-btn:hover {
  color: #2d3440;
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #ff2f64;
  cursor: pointer;
}
.order-block__order-form-address-submit-btn:focus {
  color: #fcfcfc;
  background: #ff2f64;
  outline: 2px solid #2d3440;
  cursor: pointer;
}

.order-block__disabled-submit-btn,
.order-block__disabled-submit-btn:hover,
.order-block__disabled-submit-btn:focus {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565c66;
  cursor: default;
}

.contact-block {
  width: 100%;
  margin-bottom: 20px;
}

.contact-block__inner {
  max-width: 1170px;
  margin: 0 auto;
  /*display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;*/
  box-sizing: border-box;
  border-radius: 16px;
  background: #fcfcfc url("../images/content/bg-contact-block.jpg") no-repeat
    bottom right;
  /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
  width: 1170px;
  height: 492px;
  padding: 64px;
}

.contact-block__content-section {
  width: 343px;
  height: 364px;
  background: #fcfcfc;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.contact-block__content-section-title,
.contact-block__content-section-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-top: 0;
  margin-bottom: 13px;
}

.contact-block__content-section-address,
.contact-block__content-section-phone {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-top: 0;
  margin-bottom: 24px;
}

.contact-block__content-section-phone {
  margin-bottom: 0;
}
.contact-block__content-section-phone-link {
  text-decoration: none;
  color: #2d3440;
}

.contact-block__content-section-work-schedule {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin-top: 0;
}

.contact-block__content-section-feedback-btn {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 12px 32px;
  color: #fcfcfc;
  border-radius: 26px;
  background: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  display: inline-block;
  border: none;
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 18px;
  text-decoration: none;
}

.contact-block__content-section-feedback-btn:hover {
  color: #2d3440;
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #ff2f64;
  cursor: pointer;
}
.contact-block__content-section-feedback-btn:focus {
  color: #fcfcfc;
  background: #ff2f64;
  outline: 2px solid #2d3440;
  cursor: pointer;
}

.contact-block__disabled-feedback-btn,
.contact-block__disabled-feedback-btn:hover,
.contact-block__disabled-feedback-btn:focus {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565c66;
  cursor: default;
}

.footer-block {
  width: 100%;
  margin-top: 33px;
  margin-bottom: 48px;
}

.footer-block__inner {
  max-width: 1170px;
  margin: 0 auto;
  /*display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;*/
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer-block__social-list {
  display: flex;
  list-style-type: none;
}

.footer-block__social-item {
}

.footer-block__social-list {
  /*position: absolute;*/
  /*align-self: flex-end;*/
  list-style-type: none;
  display: flex;
  /*margin: 0;*/
  padding: 0;
}

.footer-block__social-item-link {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 1px;
  display: block;
  border-radius: 100px;
  bottom: 0;
  margin-right: 18px;
}

.footer-block__social-item-link:hover {
  background: #2d3440;
}
.footer-block__social-item-link:focus {
  background: #2d3440;
}
.footer-block__social-item-link svg {
  outline: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 100px;
  position: absolute;
  top: -1px;
  right: -1px;
}

.footer-block__social-item-link:focus svg {
  outline: 2px solid #2d3440;
}

.footer-block__nav {
  display: flex;
}

.footer-block__nav-list {
  display: flex;
  list-style-type: none;
  width: 356px;
  flex-wrap: wrap;
}

.footer-block__nav-item {
  width: 145px;
  margin-bottom: 10px;
}
.footer-block__nav-item:nth-child(2n) {
  margin-left: 20px;
  width: 190px;
}

.footer-block__nav-item-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.footer-block__nav-item-heart-icon {
  background: url("../images/icons/heart-fill.svg") no-repeat center center;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 5px;
}
.footer-block__bold-item-link {
  font-weight: 700;
}
.footer-block__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.footer-block__copyright-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  text-decoration: none;
}
